.header{
  text-align: center;
  font-style: bold;
  font-family: Garamond;

img{
  vertical-align:top;
  display: inline-block;
  height: 20px;
  width: auto;
  display: inline-block;
}

.projects{
  margin-top: 50px;
  padding: 20px;
  float: left;
  font-family: Garamond;
  font-size: 16pt;
}
.about{
  font-family: Garamond;
  font-size: 16pt;
}
.highlight{
  color: pink;
}
