.header{
  text-align: center;
  font-style: bold;
  font-family: Garamond;
}
.pictures{
  margin-bottom: 200px;
  padding: 5px;
  height: 2px;
  width: auto;
  float: left;
}
.projects{
  margin-top: 50px;
  padding: 20px;
  float: left;
  font-family: Calibri;
  font-size: 20pt;
}
