.header {
  text-align: center;
  font-style: bold;
  font-family: Garamond;
}
.well {
  margin: 25px;
  padding: 10px;
}
.img {
  height: 300px;
  width: 300px;
  padding: 15px;
  margin-left: 50px;
}
.projects {
  margin-top: 50px;
  padding: 20px;
  float: left;
  font-family: Garamond;
  font-size: 16pt;
}
.about {
  font-family: Garamond;
  font-size: 16pt;
}
.highlight {
  color: pink;
}
.column {
  width: 350px;
  float: left;
}
